h1{
    color:blue;
    text-align: center;
}
h2{
    color:red;
    text-align: center;
}

#lista-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product{
  border: 1px solid #160707;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 300px;
}
.product p {
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

#title-form {
  text-align: center;
}

#form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 20px;
}

select {
  width: 100%;
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#list-products{
  text-align: center;
  background-color: #00ffe5;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
}